### 피벗테이블(Pivot Table)

- 대규모 데이터셋에서 특정 요약 정보를 추출하여 간단하게 표시할 수 있도록 도와주는 기능
- 데이터에서 원하는 값을 추출해 행과 열을 바꾸어 정리한 표 형태의 데이터

문제1. 다음 데이터 프레임은 A 서비스의 월별 탈퇴 회원수를 가입 월별로 분류해놓은 것이다. <br>
이 데이터 프레임을 이용하여 피벗 테이블을 만드시오.

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'가입월' : [1,1,1,2,2,3], '탈퇴월' : [1,2,3,2,3,3,], '탈퇴회원수' : [101,52,30,120,60,130]})
df

   가입월  탈퇴월  탈퇴회원수
0    1    1    101
1    1    2     52
2    1    3     30
3    2    2    120
4    2    3     60
5    3    3    130

In [3]:
pivot = pd.pivot_table(df, values='탈퇴회원수', index='가입월', columns=['탈퇴월'])

In [4]:
pivot

탈퇴월      1      2      3
가입월
1    101.0   52.0   30.0
2      NaN  120.0   60.0
3      NaN    NaN  130.0

In [7]:
pivot = pd.pivot_table(df, values='탈퇴회원수', index='가입월', columns=['탈퇴월'], fill_value=0) # fill_value=0 을 통해 결측값을 0으로 채울 수 있다.

In [8]:
pivot

탈퇴월    1    2    3
가입월
1    101   52   30
2      0  120   60
3      0    0  130

문제2. 다음 데이터 프레임은 어느 과일의 판매내역이다. <br>
각 상품 항목 별, 크기 별로 판매 개수와 판매 금액의 합을 구하시오.

In [14]:
import random
random.randint(1, 3) # 1~3사이 랜덤 정수 생성

a = []
b = []
for i in range(100):
    a.append(random.randint(1, 3)) # 1~3사이 랜덤 정수 추가 
    b.append(random.randint(1, 3))

In [15]:
df = pd.DataFrame({'품목':a, '크기':b})

In [16]:
df['금액'] = df['품목'] * df['크기'] * 500 # 임의

In [17]:
df['수수료'] = df['금액'] * 0.1 # 임의

In [18]:
fruit_name = {1:'사과', 2:'바나나', 3:'수박'}

In [19]:
fruit_size = {1:'소', 2:'중', 3:'대'}

In [20]:
df['품목'] = df['품목'].map(fruit_name)
df['크기'] = df['크기'].map(fruit_size)

In [21]:
pivot = pd.pivot_table(df, values='금액', index=['품목'], columns=['크기'], aggfunc=('count','sum')) # aggfunc는 집계함수

In [22]:
pivot

    count            sum
크기      대   소   중      대      소      중
품목
바나나     8  11  18  24000  11000  36000
사과     17  10   8  25500   5000   8000
수박      9  10   9  40500  15000  27000

문제3. 위의 각 상품 항목 별, 크기 별로 판매 개수와 판매 금액, 수수료의 합을 구하시오.

In [ ]:
pd.pivot_table(df, index=['품목'], columns=['크기'], aggfunc={'금액':['count','sum'], '수수료':'sum'})