In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\zlddp\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\zlddp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\zlddp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\zlddp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\zlddp\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\zlddp\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### pandas 데이터프레임 생성

dict 사용

In [3]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]}) # pd.DataFrame을 통해 딕셔너리 형태의 데이터를 데이터 프레임으로 변환함

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df # 딕셔너리는 각 key-value 쌍의 값을 수직 방향으로 저장한다.

   a  b
0  1  4
1  2  5
2  3  6

행 이름이 없는 데이터 프레임

In [6]:
a = [[1,2,3], [4,5,6], [7,8,9]]
df = pd.DataFrame(a)

In [7]:
df # 행 이름이 주어지지 않았으므로, 임의의 값인 0 1 2로 표시한다.

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
df.columns = ['a','b','c'] # df의 행 이름을 a, b, c로 설정하였다.

In [9]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9