### Series

1. Pandas에서 시리즈(Series)는 1차원 데이터 배열을 다루는 데 사용되는 데이터 구조
2. 1차원 배열과 같이 각 요소에 대한 인덱스(index)가 부여되어 있으며, 이를 통해 각 요소에 접근할 수 있다.

In [1]:
import pandas as pd
df = pd.Series([1,2,3,4,5,6])

In [4]:
df # # Series 객체는 수직 방향으로 출력, 인덱스(0~5)와 값(1~6)으로 구성

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

### Series index 변경

In [5]:
df = pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])

In [6]:
df

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [9]:
df['a'] # 인덱스 a의 값 출력

1

### 유일한 값 찾기 Unique (중복되지 않는 값)

In [10]:
df = pd.DataFrame({'a':[1,2,3,4,5,6], 'b':[2,2,2,2,2,2], 'c':[1,2,3,1,2,3]})
df

   a  b  c
0  1  2  1
1  2  2  2
2  3  2  3
3  4  2  1
4  5  2  2
5  6  2  3

In [16]:
b = df['b'] # b열만 추출
b

0    2
1    2
2    2
3    2
4    2
5    2
Name: b, dtype: int64

In [18]:
b.unique() # b열중 고유한 값/

array([2], dtype=int64)

In [20]:
c = df['c']
c

0    1
1    2
2    3
3    1
4    2
5    3
Name: c, dtype: int64

In [21]:
c.unique()

array([1, 2, 3], dtype=int64)