### DataType 변환

In [1]:
import pandas as pd
df = pd.DataFrame(
    {'판매일': ['5/11/21', '5/12/21', '5/13/21', '5/14/21', '5/15/21'],
     '판매량': ['10', '15', '20', '25', '30'],
     '방문자수': ['10', '-', '17', '23', '25'],
     '기온': ['24.1', '24.3', '24.8', '25', '25.4']})

In [2]:
df

       판매일 판매량 방문자수    기온
0  5/11/21  10   10  24.1
1  5/12/21  15    -  24.3
2  5/13/21  20   17  24.8
3  5/14/21  25   23    25
4  5/15/21  30   25  25.4

In [5]:
df.dtypes

판매일     object
판매량     object
방문자수    object
기온      object
dtype: object

문제1. 판매량을 정수형으로 변환하시오.

In [8]:
df = df.astype({'판매량' : 'int'}) 
df.dtypes

판매일     object
판매량      int32
방문자수    object
기온      object
dtype: object

문제2. 방문자수를 숫자타입으로 변환하시오.
- pd.to_numeric( ) : 숫자 데이터가 포함되어 있는 컬럼(column)을 숫자형으로 변환할 때 사용
- 해당 컬럼에 숫자가 아닌 데이터가 들어있을 경우, errors='coerce' 옵션으로 처리하면 해당 값을 'NaN'으로 반환한다.

In [9]:
df['방문자수'] = pd.to_numeric(df['방문자수'], errors='coerce')

In [10]:
df.dtypes

판매일      object
판매량       int32
방문자수    float64
기온       object
dtype: object

In [11]:
df

       판매일  판매량  방문자수    기온
0  5/11/21   10  10.0  24.1
1  5/12/21   15   NaN  24.3
2  5/13/21   20  17.0  24.8
3  5/14/21   25  23.0    25
4  5/15/21   30  25.0  25.4

문제3. 판매일을 datetime의 형태로 바꾸시오.

In [14]:
df['판매일'] = pd.to_datetime(df['판매일'], format='%m/%d/%y') # format 매개변수를 지정하지 않으면, 자동으로 형식을 추론
df.dtypes

판매일     datetime64[ns]
판매량              int32
방문자수           float64
기온              object
dtype: object