In [9]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3,4,5]})

In [10]:
df

   a
0  1
1  2
2  3
3  4
4  5

문제1. a가 2보다 작으면 '2 미만', 4보다 작으면 '4미만', 4보다 크면 '4이상'이 저장된 b칼럼을 추가하시오.

In [12]:
df['b'] = 0 # 'b' column 생성

df.loc[df['a'] < 2, 'b'] = '2미만'
df.loc[(df['a'] >= 2) & (df['a'] < 4), 'b'] = '4미만'
df.loc[df['a'] >= 4, 'b'] = '4이상'

df

   a    b
0  1  2미만
1  2  4미만
2  3  4미만
3  4  4이상
4  5  4이상

문제2. apply를 사용해서 위 문제를 다시 풀어보시오.

In [13]:
def fun(x):
    if x < 2:
        return '2미만'
    elif x < 4:
        return '4미만'
    else:
        return '4이상'
    
df['c'] = df['a'].apply(fun)

In [14]:
df

   a    b    c
0  1  2미만  2미만
1  2  4미만  4미만
2  3  4미만  4미만
3  4  4이상  4이상
4  5  4이상  4이상

문제3. apply, map을 활용한 데이터 변환

case1. apply 활용

In [17]:
# a가 1이면 'one', 2이면 'two', 3이면 'three', 4이면 'four', 5이면 'five'를 출력하는 칼럼 d를 만드시오.

def func(x):
    if x == 1:
        return 'one'
    elif x == 2:
        return 'two'
    elif x == 3:
        return 'three'
    elif x == 4:
        return 'four'
    elif x == 5:
        return 'five'
    else:
        pass
    
df['d'] = df['a'].apply(func)

In [18]:
df

   a    b    c      d
0  1  2미만  2미만    one
1  2  4미만  4미만    two
2  3  4미만  4미만  three
3  4  4이상  4이상   four
4  5  4이상  4이상   five

case2. map 활용

In [19]:
a = {1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}

In [20]:
df['e'] = df['a'].map(a)

In [21]:
df

   a    b    c      d      e
0  1  2미만  2미만    one    one
1  2  4미만  4미만    two    two
2  3  4미만  4미만  three  three
3  4  4이상  4이상   four   four
4  5  4이상  4이상   five   five